<h1>首頁</h1>
<p><strong>使用教材:PC-Hardware</strong></p>
<p><strong>編輯之章節:UNIT4 Networking and Internet</strong></p>
<p>       <span style="color: #ff6600;">PCH14-TCP and UDP Protocols(傳輸控制協定和用戶資料報協定)</span></p>
<p>                  <span style="color: #ff6600;">FTP</span></p>
<p>                  <span style="color: #ff6600;">SSL</span></p>
<p>       <span style="color: #ff6600;">PCH15-Introduction to Wireless Networking(無線網絡簡介)</span></p>
<p>       <span style="color: #ff6600;">PCH16-Internet Connectivity(互聯網連接)</span></p>
<h1><span style="color: #000000;">進度表</span></h1>
<p><span style="color: #ff9900;"><span style="background-color: #000000; color: #ffffff;">10/25</span> PCH14:FTP</span></p>
<p><span style="color: #ff9900;">  　　 PCH14:SSL</span></p>
<h1>錯誤排除紀錄</h1>
<p><strong>1.</strong><span style="color: #ff6600;">10/14 切換成2階時轉換靜態時出現404錯誤。</span></p>
<p><span style="color: #ff6600;">解決方法:要轉2階的名稱裡不能有<strong><span style="color: #000000;">:/"</span></strong>這些符號</span></p>
<p><strong>2.</strong></p>
<h1>HomeWork1</h1>
<p><strong></strong></p>
<h2>PCH14-TCP and UDP Protocols</h2>
<p><span style="color: #ff99cc;"><strong>learning objective-學習目標</strong></span></p>
<p><span style="color: #ff99cc;"><span style="color: #000000;">1.<span>Identify and demonstrate use of FTP.<strong>（</strong></span></span></span><strong><span lang="zh-TW">識別並演示FTP的使用。</span><span style="color: #ff99cc;"><span style="color: #000000;">）</span></span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">2.Identify SSL in use.<strong>（識別正在使用的SSL）</strong></span></p>
<p><strong>編輯內容:</strong></p>
<p><span style="color: #ff6600;">FTP</span><strong>（檔案傳輸協定）</strong></p>
<p><span style="color: #ff6600;">SSL</span><strong>（安全通訊協定）</strong></p>
<h2>FTP</h2>
<p><span>In the OSI (Open Systems Interconnection) model, the application layer uses protocols such as trivial file transfer protocol (TFTP), file transfer protocol (FTP), and file transfer protocol secure (FTPS using TLS/SSL) to allow users to migrate data in a client-server model. FTP concerns itself with data only and as such eliminates the overhead of extraneous information such as what HTTP allows in addition to the actual data (advertisements, banners, images, etc.). This alleviates processing and bandwidth overhead and allows the client to simply retrieve the data from the server.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">在OSI（開放系統互連）模型中，應用程序層使用諸如簡單文件傳輸協議（TFTP），文件傳輸協議（FTP）和安全文件傳輸協議（使用TLS / SSL的FTPS）之類的協議來允許用戶遷移數據在客戶端-服務器模型中。<span style="color: #ff0000;">FTP僅關注數據本身，因此消除了額外信息的開銷</span>，例如除了實際數據（廣告，橫幅，圖像等）之外，HTTP允許的信息。這減輕了處理和帶寬開銷，並使客戶端可以簡單地從服務器檢索數據。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">FTP services can be accessed using client software such as ftp.exe (provided in all Microsoft operating systems), third-party software such as Filezilla or WinSCP, and any modern/current browser. Most light-duty users outside a corporate environment will not use a client FTP (or its secure version) because web browsers can negotiate FTP as well as HTTP. Public FTP servers allow for an anonymous user name so the client can reach file directories specifically designed for public access.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW">可以使用諸如ftp.exe（在所有Microsoft操作系統中提供）之類的客戶端軟件，諸如Filezilla或WinSCP之類的第三方軟件以及任何現代/最新的瀏覽器來訪問FTP服務。公司環境之外的大多數輕型用戶都不會使用客戶端FTP（或其安全版本），因為<span style="color: #ff0000;">Web瀏覽器可以協商FTP以及HTTP</span>。公用FTP服務器允許使用匿名用戶名，以便客戶端可以訪問專門為公用訪問設計的文件目錄。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" style="text-align: left;"><span lang="zh-TW">These network communications are passed through the presentation layer to the session layer, where sockets and sessions are created using logical port numbers as defined by TCP or UDP. TCP is stateful, connection-oriented and reliable. UDP is stateless, connectionless, and less reliable. The combination of source and destination address coupled with the logical port number creates a network socket, which establishes the session for process-to-process communication. The material in this section is used under CC-BY license from https://en.wikipedia.org/wiki/Transport_layer.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW">這些網絡通信通過表示層傳遞到會話層，在會話層中，使用由TCP或UDP定義的邏輯端口號創建套接字和會話。 <span style="color: #ff0000;">TCP是有狀態的，面向連接的且可靠的</span>。</span><span lang="zh-TW"><span style="color: #ff0000;"> UDP是無狀態，無連接且可靠性較低的</span>。源地址和目標地址以及邏輯端口號的組合創建了一個網絡套接字，該網絡套接字建立了進程間通信的會話。</span><span lang="zh-TW">本節中的材料根據https://en.wikipedia.org/wiki/Transport_layer的CC-BY許可使用。</span></strong></p>
<h3 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW">Active vs. Passive</span></strong></h3>
<p><span lang="zh-TW">Active FTP is a point-to-point connection that the client initiates and connects to the FTP server port 21 for commands and port 20 for data. That means that the server will actively initiate the connections back to the client’s listening port and will require the client to allow these connections, which the firewall blocks by default. Passive FTP allows the client to initiate the data connection on port 21, and then the FTP server moves the command and data connections to random ports on the server (with numbers higher than 1023). By initiating the connection from the client side, the burden of allowing a pass-through on the firewall resides with the FTP server administrator, who is better equipped to set a range of ports allowing connectivity.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW"><span style="color: #ff0000;">主動FTP是點對點連接</span>，客戶端啟動該點並連接到FTP服務器端口21（用於命令）和端口20（用於數據）。這意味著服務器將主動啟動與客戶端偵聽端口的連接，並要求客戶端允許這些連接，防火牆默認情況下會阻止這些連接。被動FTP允許客戶端在端口21上啟動數據連接，然後FTP服務器將命令和數據連接移至服務器上的隨機端口（數字大於1023）。通過從客戶端發起連接，允許通過防火牆的負擔由FTP服務器管理員承擔，他可以更好地設置一系列允許連接的端口。</span></strong></p>
<h3>Using FTP</h3>
<p><span>Accessing FTP public servers using the command line is not nearly as user-friendly as using a web browser. However, both methods are viable and in use in corporate networks.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">使用命令行訪問FTP公共服務器並不像使用Web瀏覽器那樣友好。但是，這兩種方法都是可行的，並且已在公司網絡中使用。</span></strong></p>
<ul lang="">
<li lang="">Open a web browser of choice<strong>（打開選擇的網絡瀏覽器）</strong></li>
<li lang="">Use this URL: ftp.funet.fi<strong>（使用此URL：ftp.funet.fi </strong><span style="color: #ff0000;">URL:統一資源定位符<strong><span style="color: #000000;">）</span></strong></span></li>
<li lang="">Click “pubs,” then “standards,” then “RFC”<strong>（點擊“發布”，然後點擊“標準”，然後點擊“ RFC” </strong><span style="color: #ff6600;">RFC:請求意見稿</span><strong>）</strong></li>
<li lang="">Search RFC 959 and access either the .txt or .pdf file (left-click)<strong>（搜索RFC 959並訪問.txt或.pdf文件）</strong></li>
<li lang="">Search RFC 4217 and access either the .txt or .pdf file (left-click)<strong>（搜索RFC 4217並訪問.txt或.pdf文件）</strong></li>
<li lang="">If you actually needed the file you can right-click and save as.<strong>（如果您確實需要該文件，則可以右鍵單擊並另存。）</strong></li>
</ul>
<p><span>Now that you see the file structure, notice it is similar to navigating a local hard drive with the only difference being that you use the “/” (forward slash) instead of the “\” (backslash) because you are accessing the folders through the Internet.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">現在您已經看到文件結構，請注意，它類似於瀏覽本地硬盤驅動器，<span style="color: #ff0000;">唯一的區別是您使用“ /”（正斜杠）而不是“ \”（反斜杠）</span>，因為您通過以下方式訪問文件夾互聯網。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"><em class="italic" lang="">Note: In this next step using the command-line interface, you will only be able to navigate the FTP server, and will not be able to transfer files, because ftp.exe does not support passive mode by default. You can use a command-line tool in a Linux Distro; or, in Windows, you can go to Passive-FTP.com and download the freeware.</em></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><em><strong><span lang="zh-TW">注意：在接下來的使用命令行界面的步驟中，您將只能瀏覽FTP服務器，並且將無法傳輸文件，<span style="color: #ff0000;">因為ftp.exe默認情況下不支持被動模式</span>。您可以在Linux Distro中使用命令行工具。或者，在Windows中，您可以轉到Passive-FTP.com並下載免費軟件。</span></strong></em></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><em><span lang="zh-TW"><em class="italic" lang="">However, you can create a workaround by first allowing FTP through your firewall (be sure to put firewall restrictions back in place after the exercise), and then issuing the following commands after you enter the password:</em></span></em></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><em><span lang="zh-TW"><em class="italic" lang="">但是，您可以通過首先允許FTP通過防火牆（確保在練習後將防火牆限制放回原位），然後在輸入密碼後發出以下命令來創建解決方法：</em></span></em></strong></p>
<ul>
<li class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><em><span lang="zh-TW"><em class="italic" lang=""><span>quote pasv </span></em></span></em></strong><span lang="zh-TW" style="color: #ff0000;">引用pasv(pasv-FTP的被動模式)</span></li>
</ul>
<p style="text-align: center;"><span lang="zh-TW" style="color: #ff6600;"></span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image5.png"/></p>
<ul lang="">
<li lang="">Now the “dir, ls” (list directory contents), and “get” (download) commands will work.</li>
<li lang="">By default, the file will download to your user root at C:\Windows\Users\**<em class="italic" lang="">your user name</em>** or at the root of C:\ (wherever your OS is installed).</li>
</ul>
<ul>
<li class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">現在，“ dir，ls”（列出目錄內容）和“ get”（下載）命令將起作用。</span></strong></li>
<li class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW">默認情況下，該文件將下載到您的用戶根目錄，即C:\Windows\Users\**您的用戶名**或C:\的根目錄(無論尼按裝了OS的位置)。</span></strong></li>
</ul>
<p><span lang="zh-TW">As a public FTP server set to passive mode, certain commands do not work and invoke the server to close the socket. If that happens, re-do your log on.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW"><span style="color: #ff0000;">將公共FTP服務器設置為被動模式後，某些命令將不起作用</span>，並調用服務器以關閉網路插座。如果發生這種情況，請重新登錄。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"></span>Use the keyboard command<span> </span><img id="_i_3" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image6.png"/><span> </span>+ r and type ftp (from an administrative command line interface you can also type ftp). The prompt changes to ftp&gt;</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">使用鍵盤命令<img id="_i_3" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image6.png"/>+ r並輸入ftp（在管理命令行界面中，您也可以輸入ftp）。提示符更改為ftp&gt;</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" style="text-align: center;"><span lang="zh-TW"><img height="169" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image7.png" width="549"/></span></p>
<ul lang="">
<li lang="">Type “help” and look at the commands.<span style="color: #000000;"><strong>（輸入“ help”並查看命令）</strong></span></li>
<li lang="">Type at the command prompt: open ftp.funet.fi.<span style="color: #000000;"><strong>（在命令提示符下鍵入：打開ftp.funet.fi）</strong></span></li>
<li lang="">Follow the prompts to log on.<span style="color: #000000;"><strong>（按照提示進行登錄）</strong></span></li>
<li lang="">Username: anonymous.<span style="color: #000000;"><strong>（用戶名：匿名）</strong></span></li>
<li lang="">Password: any generic e-mail (such as user@user.com<a href="mailto:user@user.com)"><span style="color: #000000;">)</span></a>.<strong><span style="color: #000000;">（密碼：任何通用電子郵件）</span></strong></li>
</ul>
<p id="N10723" lang="">You get a welcome message and can now navigate through the directory structure you saw in the browser by typing the following commands:</p>
<p><strong><span lang="zh-TW">您會收到一條歡迎消息，現在可以通過輸入以下命令來瀏覽瀏覽器中看到的目錄結構：</span></strong></p>
<ul>
<li><span lang="zh-TW"><span lang="zh-TW">pwd — lists the current directory.<strong><span style="color: #000000;">（</span></strong></span></span><strong><span style="color: #000000;">pwd-列出當前目錄。）</span></strong></li>
</ul>
<p style="text-align: center;"><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image8.png"/></p>
<ul>
<li style="text-align: left;"><span><span>cd — changes the directory. This may be in the form of:<span style="color: #000000;"><strong>（</strong></span></span></span><span style="color: #000000;"><strong>cd —更改目錄。可以採用以下形式：）</strong></span></li>
</ul>
<ul style="list-style-type: circle;">
<li lang="">cd pub (refer to the URL path from the previous exercise), or<strong>（cd pub（請參閱上一練習中的URL路徑），或）</strong></li>
<li lang="">cd/pub/standards/RFC/<span style="color: #000000;"><strong><br/></strong></span></li>
</ul>
<p style="text-align: center;"><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image9.png"/></p>
<p><span>Now if you are using the workaround, Mac, or Linux you can download a file using the “get” command:</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">現在，如果您使用的是變通方法，Mac或Linux，則可以使用“ get”命令下載文件：</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" style="text-align: center;"><span lang="zh-TW"><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image10.png"/></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"><span>Without the passive mode workaround, a third-party FTP client, Mac, or Linux this is as far as you can go. However, in the corporate environment you might be required to troubleshoot FTP on the local intranet, which would most likely be set to active FTP. Clearly, the need for command-line FTP service is fairly limited compared to using a browser.</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW"><span style="color: #ff0000;">如果沒有被動模式解決方法，則只能使用第三方FTP客戶端</span>，Mac或Linux。但是，在公司環境中，可能需要對本地Intranet上的FTP進行故障排除，這很可能會設置為活動FTP。顯然，與使用瀏覽器相比，命令行FTP服務的需求非常有限。</span></strong></p>
<h2 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">SSL</span></h2>
<p><span lang="zh-TW"><span>Secure sockets layer (SSL) is a cryptographic protocol designed to secure network communications at the application layer. Netscape developed the original protocol in 1995 and SSL became deprecated and was replaced by transport layer security (TLS) in 2015. For more information about SSL, visit this </span><a href="https://en.wikipedia.org/wiki/Transport_Layer_Security#Secure_Network_Programming" id="_i_0" lang="" target="_blank">website</a><span>.</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW"><span style="color: #ff0000;">安全套接字層（SSL）是一種加密協議</span>，旨在保護應用程序層的網絡通信安全。 Netscape在1995年開發了原始協議，並且不贊成使用SSL，並在2015年由傳輸層安全性（TLS）代替。有關SSL的更多信息，請訪問此網站。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">The most common place to see TLS/SSL in action is in your web browser. For example, most all web sites now default from http (port 80) to https (port 443) with TLS. It is a client-server model where the client initiates the request to connect and the server offers the secure protocol.<br/></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">實際使用TLS / SSL的最常見地方是您的Web瀏覽器。例如，大多數網站現在默認使用TLS從http（端口80）更改為https（端口443）。這是一種客戶端-服務器模型，其中客戶端發起連接請求，服務器提供安全協議。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span style="color: #3366ff;"><b>Example</b></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><b></b>Try this:<strong>（嘗試這個）</strong></p>
<ul lang="">
<li lang="">Type: http://facebook.com or http://google.com into the browser of your choice. Notice the new URL changed to https.<strong>（在您選擇的瀏覽器中輸入：http://facebook.com或http://google.com。<span style="color: #ff0000;">請注意，新URL更改為https</span>。）</strong></li>
</ul>
<ul lang="">
<li lang="">Next, click on the padlock → connection. If you have an antivirus plug-in you might see the company’s certificate instead in browsers such as Internet Explorer.<strong>（接下來，單擊掛鎖→連接。<span style="color: #ff0000;">如果您具有防病毒插件，則可能會在Internet Explorer之類的瀏覽器中看到該公司的證書</span>。）</strong></li>
</ul>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" style="text-align: center;"><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH14/webcontent/PCH14/image11.png"/></p>
<h2 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr">PCH15-Introduction to Wireless Networking</h2>
<p><span style="color: #ff99cc;"><strong>learning objective-學習目標</strong></span></p>
<p><strong></strong>1.<span>Configure a wireless connection.<strong>（配置無線連接）</strong></span></p>
<p>2.<span>Compare wireless network standards, encryption, and interfaces.<strong>（比較無線網絡標準，加密和接口）</strong></span></p>
<p>3.<span>Identify major wireless security measures.<strong>（確定主要的無線安全措施）</strong></span></p>
<p><span><strong>編輯內容:</strong></span></p>
<p><span style="color: #ff6600;">Wireless LANs</span><strong>（無線局域網）</strong></p>
<p><span><span style="color: #ff6600;">Wireless Devices</span><strong>（無線設備）</strong></span></p>
<p><span style="color: #ff6600;">Wireless Standards</span><strong>（無線標準）</strong></p>
<p><span style="color: #ff6600;">Privacy and Security</span><strong>（隱私權與安全性）</strong></p>
<p><span style="color: #ff6600;">Wireless Networking Types</span><strong>（無線網絡類型）</strong></p>
<h2>Wireless LANs</h2>
<h3>Overview</h3>
<p><span>The popularity of wireless local area networks (WLAN) has increased exponentially because WLAN enables people to remain connected to the network and the Internet without being tethered by wires. In this unit, we are going to cover the concepts, components, standards, design considerations, and security of WLANs. IEEE 802.11 is the overarching standard for wireless LAN technology, and was developed and is maintained by the Institute of Electrical and Electronics Engineers (IEEE) to provide wireless Ethernet connectivity to a wired IEEE 802.3 network.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">無線局域網（WLAN）的普及已成倍增加，<span style="color: #ff0000;">因為WLAN使人們能夠保持連接到網絡和Internet，而不必受到電線的束縛</span>。在本單元中，我們將介紹WLAN的概念，組件，標準，設計注意事項和安全性。 <span style="color: #ff0000;">IEEE 802.11是無線LAN技術的總體標準</span>，由電氣和電子工程師協會（IEEE）開發和維護，以提供與有線IEEE 802.3網絡的無線以太網連接。</span></strong></p>
<h3><span lang="zh-TW">ＷLAN Concepts</span></h3>
<p><span lang="zh-TW"><span>Wireless local area networks are broken down into two generalized categories: ad-hoc WLANs and infrastructure WLANs. In ad hoc wireless networks, the wireless devices communicate directly with each other without the need for a wireless access point. This mode is similar to a peer-to-peer network topology, where each device connects to each other device in a mesh configuration using radio frequency waves directly between each wireless device’s interface card. This is the wireless equivalent of connecting two workstations together using a crossover cable, thereby eliminating the need for network infrastructure like hubs and switches.</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">無線局域網分為兩大類：即席WLAN和基礎設施WLAN。在自組織無線網絡中，無線設備之間直接相互通信，而無需無線接入點。此模式類似於點對點網絡拓撲，在這種拓撲中，每個設備都使用網狀配置，直接在每個無線設備的接口卡之間使用射頻波連接到彼此。這相當於使用交叉電纜將兩個工作站連接在一起的無線方式，從而消除了對集線器和交換機等網絡基礎設施的需求。</span></strong></p>
<p id="N10681" lang="">The second category, infrastructure WLANs, is the version that is most often and widely utilized. When operating in infrastructure mode, the wireless devices communicate to a centralized wireless router or wireless access point, and then use that centralized device to initiate communication with other wireless or wired devices that are also attached to the centralized device. This is the wireless equivalent of connecting multiple workstations to a common hub or switch and utilizing that network device to create communication between the workstations.</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">第二類是基礎設施WLAN，是最常用和廣泛使用的版本。當在基礎結構模式下運行時，無線設備與集中式無線路由器或無線接入點進行通信，然後使用該集中式設備啟動與也連接到該集中式設備的其他無線或有線設備的通信。這相當於將多個工作站連接到公共集線器或交換機，並利用該網絡設備在工作站之間創建通信。</span></strong></p>
<h2 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"><span>Wireless Devices</span></span></h2>
<p><span lang="zh-TW"><span>As previously stated, most wireless networks utilize infrastructure mode and make use of a wireless router or wireless access point to connect the multitude of wireless devices in a given network. A wireless router is used in most small office/home office (SOHO) networks. These devices combine a router, a switch, and a wireless access point and serve as a base station and gateway for the wireless devices. The wireless router allows the wireless devices to communicate with each other using its wireless access point and switch functionality, and then uses its router functionality to connect devices to the remote network: in most cases, the Internet. The wireless router often combines multiple devices into a single, small device. These features include a wireless access point (WAP), a switch, a router, a firewall, and a modem (either cable, fiber, or DSL depending on the Internet service provider).</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">如前所述，<span style="color: #ff0000;">大多數無線網絡都利用基礎架構模式，並利用無線路由器或無線接入點來連接給定網絡中的眾多無線設備</span>。在大多數小型辦公室/家庭辦公室（SOHO）網絡中使用無線路由器。這些設備將路由器，交換機和無線接入點結合在一起，並充當無線設備的基站和網關。<span style="color: #ff0000;">無線路由器允許無線設備使用其無線接入點和交換機功能相互通信</span>，然後使用其路由器功能將設備連接到遠程網絡：在大多數情況下為Internet。<span style="color: #ff0000;">無線路由器通常將多個設備組合為一個小型設備</span>。這些功能包括無線訪問點（WAP），交換機，路由器，防火牆和調製解調器（電纜，光纖或DSL，取決於Internet服務提供商）。</span></strong></p>
<p id="N10683" lang="">Wireless access points, which are integrated into SOHO wireless routers, can also be purchased as standalone units. These are most often seen in corporate environments as part of an enterprise network. A wireless access point enables a wired LAN to communicate with a wireless LAN. The standalone WAP does not interconnect the two networks, though, since it is not a router. A WAP is simply a physical device that converts the radio frequency into 1s and 0s that are easily understood by the physical switch. Note that all wireless devices and the devices on the wired LAN are seen as a single subnet in a standard network. A WAP operates like a hub, broadcasting all the information it receives over the radio frequency waves and relying on the connected devices to only listen to their own traffic.</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">集成到SOHO無線路由器中的無線訪問點也可以作為獨立單元購買。這些通常在公司環境中被視為企業網絡的一部分。無線訪問點使有線局域網能夠與無線局域網進行通信。但是，<span style="color: #ff0000;">獨立的WAP無法將兩個網絡互連，因為它不是路由器</span>。 WAP只是一種將無線電頻率轉換為1和0的物理設備，物理交換機很容易理解。請注意，所有無線設備和有線LAN上的設備在標準網絡中都被視為單個子網。 WAP就像集線器一樣工作，它會通過射頻波廣播接收到的所有信息，並依靠連接的設備僅監聽其自身的流量。</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" style="text-align: center;"><img alt="" height="260" src="/images/image1.png" width="390"/></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span>Wireless network interface cards (NICs) for WiFi, Bluetooth, and infrared are generally integrated into motherboard circuitry. If your computer doesn’t have one built in, you have the ability to add one either using an external USB wireless network adapter, or installing one in a PCIe expansion slot; just remember to install the appropriate drivers for your operating system to enable proper operations.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="zh-TW">用於WiFi，藍牙和紅外的無線網絡接口卡（NIC）通常集成在主板電路中。如果您的計算機沒有內置計算機，則可以使用外部USB無線網絡適配器添加計算機，也可以在PCIe擴展插槽中安裝計算機。<span style="color: #ff0000;">只需記住為您的操作系統安裝適當的驅動程序即可啟用正確的操作</span>。</span></strong></p>
<h2 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW"><span>Wireless Standards</span></span></strong></h2>